.signup-form {
	width: 260px;
	margin: 0 auto;
}

.signup-form-element {
	width: inherit;
	padding: 0px 0;
/*	border: 0.1px solid black;*/
	display: block;
	left: 0;
	right: 0;
	overflow: visible;
}

.signup-form span {
	position: relative;
	margin: 20px auto;
	width: 100%;
	height: 40px;
	overflow: visible
}

.signup-form span * {
}

#register-heading{
	font-size: 25px;
	text-align: center;
	margin-top: 100px;
	padding: 10px 0;
}

.icon {
	height: inherit;
	width: 40px;
	display: inline-block;
	margin-right: 10px;
}

.lock-icon {
	position: absolute;
	bottom: 3px;
}

::placeholder {
	color: #93aeff;
	filter: brightness(70%);
}

.signup-form input {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	left: 50px;
	line-height: normal;
	height: 36px;
	width: 208px;
	padding: 0px 0px 0px 10px;
	margin: 2px auto;
	border-radius: 12px;
	font-family: sans-serif, normal;
	font-size: 1em;
}

.signup-form input:focus {
	/*border: 1px solid #2F2F2F;*/
	filter: invert(1%);
	box-shadow: 0px 0px 2px 2px grey;
}

#signup-form-button {
	height: 30px;
	width: inherit;
	background-color: #5c95f2;
	border-radius: 12px;
	font-size: 14px;
	box-shadow: 0px 0px 1px 1px grey;
	/*color: #2F2F2F;*/
	color: #FFFFFF;
	border: 0px solid #2F2F2F;
}

#signup-form-button:hover {
	filter: brightness(85%);
	cursor: pointer;
}

#signup-form-button:active {
	filter: brightness(70%);
	cursor: pointer;
}

#signup-form-links {
	position: relative;
	width: 100%;
	overflow: visible;
}

#already-member-link {
	font-size: 14px;
	display: block;
	width: 143px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 0;
}

.password-warning-list {
	padding-bottom: 20px;
}

.password-warning {
	padding: 3px 0px;
	margin-right: -150px;
	margin-left: -10px;
	font-size: 13px;
	color: red;
}

.signup-form-message {
	display: inline-block;
	width: 100%;
	height: 13px;
	text-align: center;
	padding-bottom: 20px;
}

.signup-form-message-label {
	position: absolute;
	left: 0;
	right: 0;
}
