#logo-with-text {
	width: 200px;
	position: absolute;
	top: 10px; /* height/2 minus line-height / 2 */
	left: 30px;
	right: 0;
	/*margin: auto;*/
	line-height: 40px;
}

/*#logo-with-text:hover {
	filter: drop-shadow();
}*/

#logo-with-text * {
	display: inline-block;
	height: inherit;
}

#logo {
	width: 30px;
}

#cryptfolio-text {
	position: absolute;
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
	color: black;
}
